doctype html
html.
<head>
<Title>Wavesurge Create Organization</Title>
<link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>

<h2>Create Organization</h2>

<form action = "" method = post>
    <label for="nameOfOrg">Name of Organization:</label>
	<input type="text" id="nameOfOrg" name="nameOfOrg">
</form>

<form action = "" method = post>
    <label for="">Brief Description of Organization</label>
    <textarea name="message" rows="10" cols="30">The cat was playing in the garden.</textarea>  <br></br>
    <input type = "submit">
</form>

</body>

<script src = "selectOrganization.js">
</script>

</html>