doctype html
html.
<head>
<Title>Wavesurge Document Upload</Title>
<link rel="stylesheet" href="main.css">
</head>

<body>
<input type = "file" id = "realFile"/>
<!-- 
<button type = "button" id = "documentButton">Choose a file</button>
<span id = "customText">No file chosen</span>
-->
</body>

<script src = "documentUpload.js">
//const fileButton = document.getElementbyId("realFile");
//const newButton = document.getElementbyId("documentButton");
//const text = document.getElementbyId("customText");
//newButton.addEventListener("click", funtion()
//{
// fileButton.click();
//});
</script>

</html>