doctype html
html.
	<head>
		<title>Wavesurge Homepage</title>
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>

	<body>
		<nav>
			<ul class="navbar">
				<li><a href="#Homepage">Homepage</a></li>
				<li><a href="#Organization">Organization</a></li>
				<li><a href="#Document">Document</a></li>
				<li><a href="#Grouping">Grouping</a></li>
				<li><a href="#Scheduling">Scheduling</a></li>
				<li><a href="#Calendar">Calendar</a></li>
			</ul>
		</nav>

		<h2 class="Title">
			Welcome to Wavesurge
		</h2>

		<p id="homepageParagraph">
		This website allows you to organize your organization, through document 
		submissions, group organizations. To use the features of this webpage,
		you need to sign into an organization.   
		</p>

		
		<form action="home/CreateOrganization" method="post"> 
		<button id = "button1" type="submit" >Create Organization</button>
		</form>
		
		<form action="home/tutorial" method="post"> 
		<button id = "button2" type="submit" >Tutorial</button>
		</form>
		
		
		<form action="home/personalprofile" method="post"> 
		<button id = "button3" type="submit" > Personal Profile</button>
		</form>
		

		<script src = "home.js">
		</script>
	</body>
</html>