doctype html
html.
	<head>
		<title> WaveSurge </title>	 	
		<link rel="stylesheet" href = "main.css">
	</head>

	<body>
		<form action="/lg" method="post">
			<div class="input">				
				<label for="Username">Username*:</label>
				<input type="text" id="username" name="username"><br><br>
			</div>
			<div class="input">
				<label for="Password">Password*:</label>
				<input type="text" id="password" name="password"><br><br>
			</div>
			<button type="submit">INSERT</button>
		</form>
	<div class = "normal">
		<a href="Homepage.html">
			Click to be redirected to Homepage.
		</a>
	</div>
			<!--Javascript part-->
			<script src="index.js"> 
			</script>
	</body>
</html>