doctype html
html.
<head>
<Title>Wavesurge Organization Select</Title>
<link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>

<h2>Organization Select<h2>
<form action = "" method = post>
    <label for="joincode">Enter join code:</label>
	<input type="text" id="joinCode" name="joinCode">
</form>

</body>

<script src = "selectOrganization.js">
</script>

</html>