doctype html
html.

<html>

<head>
<Title>Wavesurge Personal Profile</Title>
<link rel="stylesheet" href="main.css">
</head>

<body>
Name: Juefei Lu
<br>
</br>
Short Bio: Software Enginner 
<br>
</br>
Email: jlu7@ocdsb.ca

<div class="textbox">
Organization joined: 
ICS4U
<br>
</br>
EOM Lions Team 7476
</div>
</body>

</html>